
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutAdmin_65133958.cshtml";
}

<h2>DANH SÁCH BÀI TẬP</h2>
<p>1. Tạo một trang web thực hiện ...</p>
<p>2. Tạo một trang web cho phép</p>
<p>3. Tạo một chức năng</p>

